---
title: Home
description: null
image: /images/control_room.jpg
published: true
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="container flex">
			<div class="text editable">
				<h2><strong>City to city local level peer review</strong></h2>
				<p>City to city local level peer review on Disaster Risk Reduction</p>
				<div class="cta button alt"><a href="objectives">Project objectives</a></div>
			</div>
			<div class="image">
				<!-- <img src="//placehold.it/1500x938" alt="Screenshot" class="screenshot editable" /> -->
				<a class="twitter-timeline" data-height="300" data-width="300" href="https://twitter.com/uscore2eu">Tweets by @UScore2EU</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
	</div>
</section>

<section class="info">
		<div class="container flex">
			<div class="image">
				<img src="./images/control_room_map.png" alt="Screenshot" class="editable" />
			</div>
				
			<div class="text-container">
				<h2 class="editable"><stron>Uscore2 </stron>project peer review resources</h2>
              <p>Uscore2 project peer review resources are available in the 'Downloads' section of the website.</p>
              <p><strong>To view and download Uscore2 project resources please follow this link: </strong> <a href="http://uscore2.eu/downloads/"> Downloads</a></p>
	      <p>Uscore2 project resources are also hosted on the UNISDR website: </strong> <a href="https://www.unisdr.org/campaign/resilientcities/home/toolkitblkitem/?id=32"> Uscore2 UNISDR</a></p>				
              <h2 class="editable"><stron>The Uscore2 </stron>project</h2>
				<p class="editable"><stron>The Uscore2 project</stron> aims to design and test a generic, practical, city-to-city, disaster risk reduction peer review tool for cities across EU member states and beyond via the UNISDR Making Cities Resilient campaign (MCR).</p>
				<p>The project will involve collaborative work between the municipalities of Salford, Amadora and Viggiano. the University of Manchester, UNISDR, the Department of Communities and Local Government (UK), Portuguese National Authority of Civil Protection and the Associazione di Protezione Civile Gruppo Lucano.</p>
			</div>
		</div>
</section>
<section class="testimonial">
		<div class="container flex">
			<div class="testimonial-block">
				<blockquote>
					<p class="editable"> I wish to be fully engaged in developing environmental sustainability and territorial safety in the urban and land-use government actions. To this aim, our community will actively participate with the Province of Potenza in the action proposed for strengthening territorial resilience by adopting local policies and specific actions.</p>
					<p class="profile_author">Amedeo Cicala</p>
					<p>Mayor - Viggiano, Italy</p>
				</blockquote>
			</div>
		</div>
</section>

<section class="info">
	<div class="container flex">
	
		<div class="text">
			<h2>City profiles</h2>
			<p>The peer review tool developed through Uscore2 will be piloted in Viggiano, Salford and Amadora. These three cities have different disaster risk profiles; geographical and demographic characteristics; and statutory and regulatory frameworks. All are role models within the Making Cities Resilient Campaign. The effectiveness of the peer review tool will be evaluated using a methodology developed by the University of Manchester. The tool will be aligned to the indicators for the Sendai Framework and UNISDR MCR enabling on-going assessment of its applicability in reporting local progress against the Sendai Framework.</p>
		</div>
	</div>
	<div class="container flex">
			<div class="profiles">
				<h3 class="editable">Amadora - Portugal</h3>
				<ul class="profile" style="list-style-type:none">
					<li><strong>Website : </strong> <a href="http://www.facebook.com/amadora.resiliente"> Amadora</a></li>
					<li><strong>Size : </strong> 24 sq km</li>
					<li><strong>Population : </strong> 2011 - 175,575</li> 
					<li><strong>Part Of : </strong> Portugal</li>
					<li><strong>Hazards : </strong> Earthquake, Flood, Heat Wave, Land Slide, Technical Disaster</li>
					<li><div class="button"><a href="partners/amadora">More</a></div></li>
				
				</ul>
			</div>	
			<div class="profiles">
				<h3 class="editable">Salford – United Kingdom</h3>
				<ul class="profile" style="list-style-type:none">
					<li><strong>Website : </strong> <a href="http://www.gmemergencyplanning.org.uk "> Salford</a></li>
					<li><strong>Size : </strong>97.19 sq km</li>
					<li><strong>Population : </strong>2011 – 233,933</li> 
					<li><strong>Part Of : </strong> Greater Manchester</li>
					<li><strong>Hazards : </strong> Epidemic & Pandemic, Flood, Heat Wave, Technical Disaster</li>
					<li><div class="button"><a href="partners/salford">More</a></div></li>
				</ul>
			</div>
			<div class="profiles">
				<h3 class="editable">Viggiano – Italy</h3>
				<ul class="profile" style="list-style-type:none">
					<li><strong>Website : </strong> <a href="http://www.comuneviggiano.it/">Viggiano</a></li>
					<li><strong>Size : </strong>89.70 sq km</li>
					<li><strong>Population : </strong>2011 - 3,122</li> 
					<li><strong>Part Of : </strong> Basilicata</li>
					<li><strong>Hazards : </strong> Cold Wave, Drought, Earthquake, Heat Wave, Land Slide, NBC - Nuclear, Biological, Chemical, Technical Disaster</li>
					<li><div class="button"><a href="partners/viggiano">More</a></div></li>
				</ul>
			</div>
	</div>
</section >


{% include eu.html%}
