<section class="info">
	<div class="container flex">
		<div class="eu-image">
			<img src="./images/Fundedby_CP_Color_EN.png" alt="Screenshot"/>
		</div>
		<div class="text-container">

			<p class="editable">"The sole responsibility for the content of this publication lies with the author(s). This document covers civil protection activities implemented with the financial assistance of the European Union’s DG-ECHO Call for proposals 2016 for prevention and preparedness projects in the field of civil protection programme, under agreement number: ECHO/SUB/2016/743543/PREV04. The views expressed herein should not be taken, in any way, to reflect the official opinion of the European Union, and the European Commission is not responsible for any use that may be made of the information it contains.”</p>
	</div>

	</div>
</section>